{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "corejs": 3,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "env": {
    "browser": {},
    "node": {}
  }
}
